<!DOCTYPE html>
<html>

<head>

<title>Wikilife | Meta API</title>

<!-- Metatags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=1024, initial-scale=1.0">

<!-- Styles -->


<link href="http://datadonors.org/static/css/main.css" rel="stylesheet"
	type="text/css" />

<script type="text/javascript" src="/static/js/shCore.js"></script>
<script type="text/javascript" src="/static/js/shBrushJScript.js"></script>
<link type="text/css" rel="stylesheet"
	href="/static/css/shCoreDefault.css" />
<script type="text/javascript">
	SyntaxHighlighter.all();
</script>
<style type="text/css">
.learn-more {
	background-color: #e46666;
	position: relative;
}

ol,ul {
	list-style: disc;
}

.plain_text .centered_container ul li {
	color: #fff;
	font-family: 'Omnes-Semibold';
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	padding-left: 10px;
}

@font-face {
	font-family: "Gotham-Ultra";
	src: url('/static/css/fonts/gotham_ultra.eot');
	src: url('/static/css/fonts/gotham_ultra.eot?#iefix')
		format('embedded-opentype'),
		url('/static/css/fonts/gotham_ultra.svg#Gotham-Ultra') format('svg'),
		url('/static/css/fonts/gotham_ultra.woff') format('woff'),
		url('/static/css/fonts/gotham_ultra.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham-bold';
	src: url('/static/css/fonts/gotham-bold.eot');
	src: url('/static/css/fonts/gotham-bold.eot?#iefix')
		format('embedded-opentype'), url('/static/css/fonts/gotham-bold.woff')
		format('woff'), url('/static/css/fonts/gotham-bold.ttf')
		format('truetype'),
		url('/static/css/fonts/gotham-bold.svg#gotham-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Omnes-Semibold';
	src: url('/static/css/fonts/Omnes-Semibold.eot');
	src: url('/static/css/fonts/Omnes-Semibold.eot?#iefix')
		format('embedded-opentype'),
		url('/static/css/fonts/Omnes-Semibold.woff') format('woff'),
		url('/static/css/fonts/Omnes-Semibold.ttf') format('truetype'),
		url('/static/css/fonts/Omnes-Semibold.svg#Omnes-Semibold')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Omnes-bold';
	src: url('/static/css/fonts/omnes_bold.eot');
	src: local('‚ò∫'), url('/static/css/fonts/omnes_bold.woff')
		format('woff'), url('/static/css/fonts/omnes_bold.ttf')
		format('truetype'), url('/static/css/fonts/omnes_bold.svg')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

div.learn-more p {
	font-size: 17px !important;
}

.http-request {
	background-color: #eee;
	border: medium none;
	font-family: Consolas, Monaco, monospace;
	font-size: 16px;
	overflow-x: auto;
	white-space: pre;
	word-wrap: normal;
}

.syntaxhighlighter {
	background-color: white !important;
	height: 500px;
	overflow: scroll !important;
}

.short {
	height: 500px;
	overflow: scroll !important;
	font-size: 12px;
}

.shorter {
	height: 150px !important;
	overflow: scroll !important;
	font-size: 12px;
}

div.learn-more h3 {
	font-size: 21px !important;
	margin-bottom: 15px !important;
	margin-left: 0px !important;
	margin-top: 85px !important;
}

h3 {
	border-bottom: 1px dotted;
}

#res {
	font-size: 21px !important;
	margin-bottom: 15px !important;
	margin-left: 0px !important;
	margin-top: 85px !important;
	color: #fff;
	font-family: 'Omnes-Semibold';
	font-size: 20px;
	border-bottom: 1px dotted;
}
</style>

</head>

<body>

	<div id="container">

		<!--header-->
		<!--/header-->

		<div class="full_container plain_text learn-more">

			<div class="centered_container">

				<h2>Wikilife Meta API</h2>
				<h3>REST Web Service Interface</h3>

				<p>The Wikilife Meta REST API allows you to query meta-data
					about life style variables.</p>

				<p>Since the API is based on REST principles, it's very easy to
					write and test applications. You can use your browser to access
					URLs, and you can use pretty much any HTTP client in any
					programming language to interact with the API.</p>


				<h3>WikiGraph Concept</h3>
				<p>The wikilife Graph of meta data is a digraph or directed
					graph (more info about digraphs here). We use this data structure
					since it fix in the best way with the relationship between nodes.</p>
				<div style="margin-left: 50px">
					<ul>
						<li>Everything is a node that can be quantified.</li>
						<li>Object-like oriented model using multi hierarchy and
							aggregation concepts.</li>
					</ul>
				</div>
				<div id="res">Node</div>
				<p>Each node has the information necessary to get a full
					description of it, using the relation with other nodes and its
					attributes.</p>
				<p>Node attributes:</p>
				<div style="margin-left: 50px">
					<ul>
						<li>Mandatory attributes:</li>
						<ul style="margin-left: 50px">
							<li>id, node identifier.</li>
							<li>name, main name of a node.</li>
							<li>metrics, list with at least one metric object.</li>
						</ul>
						<li>Optional attributes:</li>
						<ul style="margin-left: 50px">
							<li>otherNames, list of synonyms for that node.</li>
							<li>is, list of node identifier.</li>
							<li>has, list of has relation objects.</li>
							<li>extras, extra information for that node.</li>
						</ul>
					</ul>
				</div>

				<div id="res">Relation</div>
				<p>
					There are two types relations between nodes in the wikiGraph:<br />
					"is" relationship and "has" relationship.
				</p>


				<p>"HAS" Relation (aggregation):</p>
				<div style="margin-left: 50px">
					<p>
						Use a "has relation" object to define if a node is part of another
						node.<br /> Example<br /> >Apple Juice "has" Apple.
					</p>
				</div>

				<p>"IS" Relation (aggregation):</p>
				<div style="margin-left: 50px">
					<p>
						Use "is" to define if a node is a child of another node.<br />
						Example<br /> Apple "is a" Fruit.
					</p>
				</div>

				<div id="res">Metric</div>
				<p>Nodes defines its own way to be quantified using Metrics
					Objects, it is possible to use more than one metric per node.</p>

				<h3 id="base-url">Base URL</h3>

				<p>All URLs referenced in the documentation have the following
					base:</p>

				<pre class="http-request notranslate">http://meta.wikilife.org/
</pre>

				<p>The Wikilife Meta REST API is open and free to be used for
					anyone.</p>

				<h3 id="base-url">Pagination</h3>

				<p>All API results referenced in the documentation are
					paginated.</p>
				<pre class="http-request notranslate shorter brush: js;">
"pageIndex": 0,
"itemsCount": 25,
"pageSize": 25,
"pageCount": 2,
"itemsTotal": 30,
"pageNext": "/search/?name=cancer&page=1",
"itemsTo": 24,
"pagePrev": null,
"itemsFrom": 0
</pre>
				<h3>Resources</h3>

				<p>Read the API documentation for accessing each resource.</p>


				<div id="res">Search meta</div>
				<p>Get all matches from the given parameter.</p>

				<pre class="http-request notranslate">http://meta.wikilife.org/search/?name={nameParam}</pre>

				<p>Example</p>
				<p>http://meta.wikilife.org/search/?name=cancer</p>
				<pre class="brush: js;">

{

    "pageIndex": 0,
    "itemsCount": 25,
    "name": "cancer",
    "pageSize": 25,
    "pageCount": 2,
    "itemsTotal": 30,
    "pageNext": "/search/?name=cancer&page=1",
    "itemsTo": 24,
    "pagePrev": null,
    "itemsFrom": 0
    "items": [

        {
            "name": "Cardiac cancer",
            "parentIds": [
                3194
            ],
            "origId": 257930,
            "otherNames": "C38.0,Malignant neoplasm of heart,Cardiac sarcoma,Heart cancer,Cancer of the heart,Malignant Neoplasm Heart",
            "type": "MetaNode",
            "id": 33557
        },
        {
            "name": "Cervical cancer",
            "parentIds": [
                3194
            ],
            "origId": 258251,
            "otherNames": "C53.9,Malignant neoplasm of cervix uteri,cancer of the uterine cervix,carcinoma of the uterine cervix,Cervical carcinoma,Malignant Neoplasm Cervix Uteri Unspecified",
            "type": "MetaNode",
            "id": 33455
        },

        {
            "name": "Gynecologic Oncologist Visit",
            "parentIds": [
                292
            ],
            "origId": 251117,
            "otherNames": "gynecologic oncologist visit, women cancer, female cancer",
            "type": "MetaNode",
            "id": 41624
        },
        {
            "name": "Head and neck cancer",
            "parentIds": [
                3194
            ],
            "origId": 258569,
            "otherNames": "C76.0,Cancer of head,face and neck,Malignant Neoplasm Of Other And Ill Defined Sites Head Face And Neck",
            "type": "MetaNode",
            "id": 33745
        },
        {
            "name": "Liver cancer",
            "parentIds": [
                3194
            ],
            "origId": 257786,
            "otherNames": "C22.9,Cancer of the liver,Malignant neoplasm of liver,Hepatic cancer,Carcinoma of liver,Hepatocellular carcinoma,Malignant Neoplasm Liver Unspecified",
            "type": "MetaNode",
            "id": 33607
        },

        {
            "name": "Peritoneal cancer",
            "parentIds": [
                3194
            ],
            "origId": 258152,
            "otherNames": "C48.2,Malignant neoplasm of peritoneum,neoplasm of parietal peritoneum,Malignant Neoplasm Peritoneum Unspecified",
            "type": "MetaNode",
            "id": 33971
        },

    ],


}
</pre>


				<div id="res">Node by ID</div>
				<p>Get the information for a given nodeId</p>

				<pre class="http-request notranslate">http://meta.wikilife.org/nodes/{nodeID}
</pre>

				<p>Example</p>
				<p>http://meta.wikilife.org/nodes/6</p>
				<pre class="http-request notranslate short brush: js;">

{

    "name": "Exercise",
    "measuredBy": [
        {
            "name": "Calories Burned-Value Node",
            "min": 1,
            "default": 300,
            "max": 10000,
            "origId": 406728,
            "precision": 0,
            "type": "NumericMetricNode",
            "id": 394,
            "unit": "cal"
        },
        {
            "name": "Intensity-Value Node",
            "min": 1,
            "default": 1,
            "max": 10,
            "origId": 406726,
            "precision": 0,
            "type": "NumericMetricNode",
            "id": 396,
            "unit": ""
        },
        {
            "name": "With?-Value Node",
            "default": 3,
            "origId": 432,
            "id": 9,
            "type": "TextMetricNode",
            "options": "Personal Trainner,Coach,Class Mates,Alone,Life Partner,Boyfriend,Girlfriend,Pet,Family,Friends,Coworker"
        },
        {
            "name": "Where?-Value Node",
            "default": 0,
            "origId": 434,
            "id": 8,
            "type": "TextMetricNode",
            "options": "Home,Outdoors,Country Club,Gym"
        },
        {
            "name": "How Do You Feel?-Value Node",
            "default": 5,
            "origId": 436,
            "id": 7,
            "type": "TextMetricNode",
            "options": "Energetic,Happy,Sad,Moody,Exhausted,Well Enough,Tired But Happy,Still Stressed,Unhappy"
        }
    ],
    "origId": 49,
    "children": {
        "pageIndex": 0,
        "itemsCount": 50,
        "pageSize": 50,
        "pageCount": 4,
        "itemsTotal": 158,
        "items": [
            
            {
                "otherNames": "archery",
                "origId": 51,
                "type": "MetaNode",
                "id": 409,
                "name": "Archery"
            },
            {
                "otherNames": "athletics",
                "origId": 56,
                "type": "MetaNode",
                "id": 412,
                "name": "Athletics"
            },

            {
                "otherNames": "Brazilian Jiu Jitsu, BJJ, martial arts",
                "origId": 401458,
                "type": "MetaNode",
                "id": 473,
                "name": "Brazilian Jiu Jitsu"
            },
            {
                "otherNames": "climbing",
                "origId": 116,
                "type": "MetaNode",
                "id": 489,
                "name": "Climbing"
            },
            {
                "otherNames": "Coaching: basketball",
                "origId": 406799,
                "type": "MetaNode",
                "id": 494,
                "name": "Coaching Basketball"
            },
            {
                "otherNames": "Coaching: football",
                "origId": 406792,
                "type": "MetaNode",
                "id": 498,
                "name": "Coaching Football"
            },
            {
                "otherNames": "Coaching: soccer",
                "origId": 406806,
                "type": "MetaNode",
                "id": 502,
                "name": "Coaching Soccer"
            },

            {
                "otherNames": "diving",
                "origId": 141,
                "type": "MetaNode",
                "id": 555,
                "name": "Diving"
            },
            {
                "otherNames": "downhill, skiing",
                "origId": 250026,
                "type": "MetaNode",
                "id": 559,
                "name": "Downhill Skiing"
            },
            {
                "otherNames": "elliptical",
                "origId": 250020,
                "type": "MetaNode",
                "id": 564,
                "name": "Elliptical"
            },
            {
                "otherNames": "exercise - runkeeper - other, runkeeper",
                "origId": 435596,
                "type": "MetaNode",
                "id": 569,
                "name": "Exercise - Runkeeper - Other"
            },
            {
                "otherNames": "fencing",
                "origId": 161,
                "type": "MetaNode",
                "id": 572,
                "name": "Fencing"
            },

        ],
        "pageNext": "/nodes/6?children_page=1",
        "itemsTo": 49,
        "pagePrev": null,
        "itemsFrom": 0
    },
    "measuredByDefault": [ ],
    "otherNames": "",
    "has": [ ],
    "type": "MetaNode",
    "id": 6,
    "is": [
        {
            "otherNames": "Wikilife",
            "origId": 1,
            "type": "MetaNode",
            "id": 1,
            "name": "Life Variable"
        }
    ]

}
</pre>

				<div id="res">Metric by ID</div>
				<p>Get the information for a given metricId, it wiil return all
					nodes using that metric too.</p>

				<pre class="http-request notranslate">http://meta.wikilife.org/metrics/{metricID}
</pre>

				<p>Example</p>
				<p>http://meta.wikilife.org/metrics/394</p>
				<pre class="http-request notranslate short brush: js;">
{
    "name": "Calories Burned-Value Node",
    "min": 1,
    "default": 300,
    "max": 10000,
    "origId": 406728,
    "precision": 0,
    "type": "NumericMetricNode",
    "id": 394,
    "unit": "cal"
    "measuring": [
 

        {
            "otherNames": "Bench dip, Push, chest, triceps",
            "origId": 404225,
            "type": "MetaNode",
            "id": 1163,
            "name": "Bench Dip"
        },

        {
            "otherNames": "Calf Raise - One-Legged, Legs",
            "origId": 404387,
            "type": "MetaNode",
            "id": 1253,
            "name": "Calf Raise One Legged"
        },

        {
            "otherNames": "Chest Press, Push, chest, triceps",
            "origId": 404441,
            "type": "MetaNode",
            "id": 1283,
            "name": "Chest Press"
        },

        {
            "otherNames": "climbing",
            "origId": 116,
            "type": "MetaNode",
            "id": 489,
            "name": "Climbing"
        },
        {
            "otherNames": "Close grip, Pull, Back, Biceps",
            "origId": 404495,
            "type": "MetaNode",
            "id": 1313,
            "name": "Close Grip"
        },
  
        {
            "otherNames": "Crunch - Legs Elevated, Balance and Core",
            "origId": 404549,
            "type": "MetaNode",
            "id": 1343,
            "name": "Crunch Legs Elevated"
        },
        {
            "otherNames": "Crunch Machine, Balance and Core",
            "origId": 404558,
            "type": "MetaNode",
            "id": 1348,
            "name": "Crunch Machine"
        },

    ],


}
</pre>

				<h3>About REST (REpresentational State Transfer)</h3>

				<p>
					We designed the Wikilfie Meta API in a very RESTful way, so that
					your consumption of it is simple and straightforward. From <a
						href="http://en.wikipedia.org/wiki/Representational_State_Transfer">Wikipedia</a>:
				</p>

				<p>REST's proponents argue that the Web's scalability and growth
					are a direct result of a few key design principles:</p>

				<ul style="margin-left: 50px">
					<li>Application state and functionality are divided into
						resources</li>
					<li>Every resource is uniquely addressable using a universal
						syntax for use in hypermedia links</li>
					<li>All resources share a uniform interface for the transfer
						of state between client and resource, consisting of

						<ul style="margin-left: 50px">
							<li class="odd">A constrained set of well-defined operations</li>
							<li class="odd">A constrained set of content types,
								optionally supporting code on demand</li>
						</ul>
					</li>
					<li>A protocol which is:

						<ul style="margin-left: 50px">
							<li class="odd">Client-server</li>
							<li class="odd">Stateless</li>
							<li class="odd">Cacheable</li>
							<li class="odd">Layered</li>
						</ul>
					</li>
				</ul>

				<p>REST's client/server separation of concerns simplifies
					component implementation, reduces the complexity of connector
					semantics, improves the effectiveness of performance tuning, and
					increases the scalability of pure server components. Layered system
					constraints allow intermediaries-proxies, gateways, and
					firewalls-to be introduced at various points in the communication
					without changing the interfaces between components, thus allowing
					them to assist in communication translation or improve performance
					via large-scale, shared caching.</p>

				<p>REST enables intermediate processing by constraining messages
					to be self-descriptive: interaction is stateless between requests,
					standard methods and media types are used to indicate semantics and
					exchange information, and responses explicitly indicate
					cacheability.</p>

				<p>
					If you're looking for more information about RESTful web services,
					the <a
						href="http://www.amazon.com/RESTful-Web-Services-Leonard-Richardson/dp/0596529260">O'Reilly
						RESTful Web Services book</a> is excellent.
				</p>

			</div>
		</div>
	</div>
</body>
</html>