<!DOCTYPE html>
<html>

<head>

  <title>Wikilife | Meta API</title>

  <!-- Metatags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0">

  <!-- Styles -->

  
  <link href="http://datadonors.org/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="http://datadonors.org/static/css/footer.css" rel="stylesheet" />
  	<script type="text/javascript" src="/static/js/shCore.js"></script>
	<script type="text/javascript" src="/static/js/shBrushJScript.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
<style type="text/css">
.learn-more {
    background-color: #e46666;
    position: relative;
}

ol, ul {
    list-style: disc;
}
.plain_text .centered_container ul li {
    color: #fff;
    font-family: 'Omnes-Semibold';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}


@font-face {
    font-family: "Gotham-Ultra";
    src: url('/static/css/fonts/gotham_ultra.eot');
    src: url('/static/css/fonts/gotham_ultra.eot?#iefix') format('embedded-opentype'),
    	 url('/static/css/fonts/gotham_ultra.svg#Gotham-Ultra') format('svg'),
    	 url('/static/css/fonts/gotham_ultra.woff') format('woff'),
    	 url('/static/css/fonts/gotham_ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-bold';
    src: url('/static/css/fonts/gotham-bold.eot');
    src: url('/static/css/fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/gotham-bold.woff') format('woff'),
         url('/static/css/fonts/gotham-bold.ttf') format('truetype'),
         url('/static/css/fonts/gotham-bold.svg#gotham-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Omnes-Semibold';
    src: url('/static/css/fonts/Omnes-Semibold.eot');
    src: url('/static/css/fonts/Omnes-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Omnes-Semibold.woff') format('woff'),
         url('/static/css/fonts/Omnes-Semibold.ttf') format('truetype'),
         url('/static/css/fonts/Omnes-Semibold.svg#Omnes-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Omnes-bold';
	src: url('/static/css/fonts/omnes_bold.eot');
	src: local('‚ò∫'), url('/static/css/fonts/omnes_bold.woff') format('woff'), url('/static/css/fonts/omnes_bold.ttf') format('truetype'), url('/static/css/fonts/omnes_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.learn-more p {
    font-size: 17px !important;
}
.http-request {
    background-color: #eee;
    border: medium none;
    font-family: Consolas,Monaco,monospace;
    font-size: 16px;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}

.syntaxhighlighter {
    background-color: white !important;
    height: 500px;
    overflow: scroll !important;
}

.short{
	height: 500px;
	overflow: scroll !important;
	font-size: 12px;
}

.shorter{
	height: 150px !important;
	overflow: scroll !important;
	font-size: 12px;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    font-size: 12.025px;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
}

div.learn-more h3 {
    font-size: 21px !important;
    margin-bottom: 15px !important;
    margin-left: 0px !important;
    margin-top: 85px !important;
}
h3{
border-bottom: 1px dotted;
}

#res{
    font-size: 21px !important;
    margin-bottom: 15px !important;
    margin-left: 0px !important;
    margin-top: 85px !important;
        color: #fff;
    font-family: 'Omnes-Semibold';
    font-size: 20px;
    border-bottom: 1px dotted;
}
</style>

</head>

<body>

<div id="container">

  <!--header-->
  <!--/header-->

  <div class="full_container plain_text learn-more">

    <div class="centered_container">

      <h2> Wikilife Meta API</h2> 
      <h3>REST Web Service Interface </h3>

<p>The Wikilife Meta REST API allows you to query meta-data about life style variables.</p>

<p>Since the API is based on REST principles, it's very easy to write and test
applications. You can use your browser to access URLs, and you can use pretty
much any HTTP client in any programming language to interact with the API.</p>


<h3>WikiGraph Concept</h3>
<p>The wikilife Graph of meta data is a digraph or directed graph (more info about digraphs here). 
We use this data structure since it fix in the best way with the relationship between nodes.</p>

<ul>
<li>Everything is a node that can be quantified.</li>
<li>Object-like oriented model using multi hierarchy and aggregation concepts.</li>
</ul>
<div id="res">Node</div>
<p>Each node has the information necessary to get a full description of it, using the relation with other nodes and its attributes.</p>
<p>Node attributes:</p>
<div style="margin-left:50px">
<ul>
	<li>Mandatory attributes:</li>
	<ul style="margin-left:50px"><li>id, node identifier.</li>
	<li>name, main name of a node.</li>
	<li>metrics, list with at least one metric object.</li>
	</ul>
	<li>Optional attributes:</li>
	<ul style="margin-left:50px"><li>otherNames, list of synonyms for that node.</li>
	<li>is, list of node identifier.</li>
	<li>has, list of has relation objects.</li>
	<li>extras, extra information for that node.</li>
	</ul>
</ul>
</div>

<div id="res">Relation</div>
<p>There are two types relations between nodes in the wikiGraph:</p>
<p>"is" relationship and "has" relationship.</p>


<p>"HAS" Relation (aggregation):</p>
<div style="margin-left:50px">
<p>Use a "has relation" object to define if a node is part of another node.</p>
<p>Example</p>
<p>Apple Juice "has" Apple.</p>
</div>

<p>"IS" Relation (aggregation):</p>
<div style="margin-left:50px">
<p>Use "is" to define if a node is a child of another node.</p>
<p>Example</p>
<p>Apple "is a" Fruit.</p>
</div>

<div id="res">Metric</div>
<p>Nodes defines its own way to be quantified using Metrics Objects, it is possible to use more 
than one metric per node.</p>

<h3 id="base-url">Base URL</h3>

<p>All URLs referenced in the documentation have the following base:</p>

<pre class="http-request notranslate">http://meta.wikilife.org/
</pre>

<p>The Wikilife Meta REST API is open and free to be used for anyone.</p>

<h3 id="base-url">Pagination</h3>

<p>All API results referenced in the documentation are paginated.</p>
<pre class="http-request notranslate shorter brush: js;">
"pageIndex": 0,
"itemsCount": 25,
"pageSize": 25,
"pageCount": 2,
"itemsTotal": 30,
"pageNext": "/search/?name=cancer&page=1",
"itemsTo": 24,
"pagePrev": null,
"itemsFrom": 0
</pre>
<h3>Resources</h3>

<p>Read the API documentation for accessing each resource.</p>


<div id="res"> Search meta</div>
<p>Get all matches from the given parameter.</p>

<pre class="http-request notranslate">http://meta.wikilife.org/search/?name={nameParam}
</pre>

<p>Example</p>
<p>http://meta.wikilife.org/search/?name=cancer</p>
<pre class="short brush: js;">

{

    "pageIndex": 0,
    "itemsCount": 25,
    "name": "cancer",
    "pageSize": 25,
    "pageCount": 2,
    "itemsTotal": 30,
    "items": [

        {
            "name": "Cardiac cancer",
            "parentIds": [
                3194
            ],
            "origId": 257930,
            "otherNames": "C38.0,Malignant neoplasm of heart,Cardiac sarcoma,Heart cancer,Cancer of the heart,Malignant Neoplasm Heart",
            "type": "MetaNode",
            "id": 33557
        },
        {
            "name": "Cervical cancer",
            "parentIds": [
                3194
            ],
            "origId": 258251,
            "otherNames": "C53.9,Malignant neoplasm of cervix uteri,cancer of the uterine cervix,carcinoma of the uterine cervix,Cervical carcinoma,Malignant Neoplasm Cervix Uteri Unspecified",
            "type": "MetaNode",
            "id": 33455
        },

        {
            "name": "Esophageal cancer",
            "parentIds": [
                3194
            ],
            "origId": 257657,
            "otherNames": "C15.9,Malignant neoplasm of oesophagus,Malignant neoplasm of esophagus,Esophageal carcinoma,Adenocarcinoma of the esophagus,Malignant Neoplasm Oesophagus Unspecified",
            "type": "MetaNode",
            "id": 33679
        },
        {
            "name": "Gallbladder cancer",
            "parentIds": [
                3194
            ],
            "origId": 257789,
            "otherNames": "C23,Malignant neoplasm of gallbladder,Malignant Neoplasm Of Gallbladder",
            "type": "MetaNode",
            "id": 33711
        },
        {
            "name": "Gastric cancer",
            "parentIds": [
                3194
            ],
            "origId": 257687,
            "otherNames": "C16.9,Stomach cancer,Cancer of the stomach,Stomach carcinoma,Neoplastic disease of the stomach,Gastric carcinoma,Stomach adenocarcinoma,Carcinoma of the stomach,Malignant Neoplasm Stomach Unspecified",
            "type": "MetaNode",
            "id": 34055
        },
        {
            "name": "Gynecologic Oncologist Visit",
            "parentIds": [
                292
            ],
            "origId": 251117,
            "otherNames": "gynecologic oncologist visit, women cancer, female cancer",
            "type": "MetaNode",
            "id": 41624
        },
        {
            "name": "Head and neck cancer",
            "parentIds": [
                3194
            ],
            "origId": 258569,
            "otherNames": "C76.0,Cancer of head,face and neck,Malignant Neoplasm Of Other And Ill Defined Sites Head Face And Neck",
            "type": "MetaNode",
            "id": 33745
        },
        {
            "name": "Liver cancer",
            "parentIds": [
                3194
            ],
            "origId": 257786,
            "otherNames": "C22.9,Cancer of the liver,Malignant neoplasm of liver,Hepatic cancer,Carcinoma of liver,Hepatocellular carcinoma,Malignant Neoplasm Liver Unspecified",
            "type": "MetaNode",
            "id": 33607
        },

        {
            "name": "Peritoneal cancer",
            "parentIds": [
                3194
            ],
            "origId": 258152,
            "otherNames": "C48.2,Malignant neoplasm of peritoneum,neoplasm of parietal peritoneum,Malignant Neoplasm Peritoneum Unspecified",
            "type": "MetaNode",
            "id": 33971
        },

    ],
    "pageNext": "/search/?name=cancer&page=1",
    "itemsTo": 24,
    "pagePrev": null,
    "itemsFrom": 0

}
</pre>


<div id="res"> Node by ID</div>
<p>Get the information for a given nodeId</p>

<pre class="http-request notranslate">http://meta.wikilife.org/nodes/{nodeID}
</pre>

<p>Example</p>
<p>http://meta.wikilife.org/nodes/6</p>
<pre class="http-request notranslate short brush: js;">

{

    "name": "Exercise",
    "measuredBy": [
        {
            "name": "Calories Burned-Value Node",
            "min": 1,
            "default": 300,
            "max": 10000,
            "origId": 406728,
            "precision": 0,
            "type": "NumericMetricNode",
            "id": 394,
            "unit": "cal"
        },
        {
            "name": "Intensity-Value Node",
            "min": 1,
            "default": 1,
            "max": 10,
            "origId": 406726,
            "precision": 0,
            "type": "NumericMetricNode",
            "id": 396,
            "unit": ""
        },
        {
            "name": "With?-Value Node",
            "default": 3,
            "origId": 432,
            "id": 9,
            "type": "TextMetricNode",
            "options": "Personal Trainner,Coach,Class Mates,Alone,Life Partner,Boyfriend,Girlfriend,Pet,Family,Friends,Coworker"
        },
        {
            "name": "Where?-Value Node",
            "default": 0,
            "origId": 434,
            "id": 8,
            "type": "TextMetricNode",
            "options": "Home,Outdoors,Country Club,Gym"
        },
        {
            "name": "How Do You Feel?-Value Node",
            "default": 5,
            "origId": 436,
            "id": 7,
            "type": "TextMetricNode",
            "options": "Energetic,Happy,Sad,Moody,Exhausted,Well Enough,Tired But Happy,Still Stressed,Unhappy"
        }
    ],
    "origId": 49,
    "children": {
        "pageIndex": 0,
        "itemsCount": 50,
        "pageSize": 50,
        "pageCount": 4,
        "itemsTotal": 158,
        "items": [
            {
                "otherNames": "Aerobics",
                "origId": 406722,
                "type": "MetaNode",
                "id": 393,
                "name": "Aerobics"
            },
            {
                "otherNames": "Aerobics, step aerobics",
                "origId": 406729,
                "type": "MetaNode",
                "id": 397,
                "name": "Aerobics Step Aerobics"
            },
            {
                "otherNames": "Aikido, martial arts",
                "origId": 401413,
                "type": "MetaNode",
                "id": 401,
                "name": "Aikido"
            },
            {
                "otherNames": "football, american",
                "origId": 181,
                "type": "MetaNode",
                "id": 405,
                "name": "American Football "
            },
            {
                "otherNames": "archery",
                "origId": 51,
                "type": "MetaNode",
                "id": 409,
                "name": "Archery"
            },
            {
                "otherNames": "athletics",
                "origId": 56,
                "type": "MetaNode",
                "id": 412,
                "name": "Athletics"
            },
            {
                "otherNames": "badminton",
                "origId": 66,
                "type": "MetaNode",
                "id": 416,
                "name": "Badminton"
            },
            {
                "otherNames": "Ballet dancing",
                "origId": 406736,
                "type": "MetaNode",
                "id": 420,
                "name": "Ballet Dancing"
            },
            {
                "otherNames": "Ballroom dancing",
                "origId": 406764,
                "type": "MetaNode",
                "id": 424,
                "name": "Ballroom Dancing"
            },
            {
                "otherNames": "baseball",
                "origId": 61,
                "type": "MetaNode",
                "id": 428,
                "name": "Baseball"
            },
            {
                "otherNames": "Baseball, playing catch",
                "origId": 406877,
                "type": "MetaNode",
                "id": 432,
                "name": "Baseball Playing Catch"
            },
            {
                "otherNames": "basketball",
                "origId": 71,
                "type": "MetaNode",
                "id": 436,
                "name": "Basketball"
            },
            {
                "otherNames": "Basketball, shooting baskets",
                "origId": 406771,
                "type": "MetaNode",
                "id": 440,
                "name": "Basketball Shooting Baskets"
            },
            {
                "otherNames": "Basketball, wheelchair",
                "origId": 406778,
                "type": "MetaNode",
                "id": 444,
                "name": "Basketball Wheelchair"
            },
            {
                "otherNames": "Beach Volleyball",
                "origId": 407218,
                "type": "MetaNode",
                "id": 448,
                "name": "Beach Volleyball"
            },
            {
                "otherNames": "billiards",
                "origId": 76,
                "type": "MetaNode",
                "id": 452,
                "name": "Billiards"
            },
            {
                "otherNames": "boating",
                "origId": 86,
                "type": "MetaNode",
                "id": 456,
                "name": "Boating"
            },
            {
                "otherNames": "bowling",
                "origId": 96,
                "type": "MetaNode",
                "id": 461,
                "name": "Bowling"
            },
            {
                "otherNames": "boxing",
                "origId": 101,
                "type": "MetaNode",
                "id": 465,
                "name": "Boxing"
            },
            {
                "otherNames": "Boxing, punching bag",
                "origId": 406785,
                "type": "MetaNode",
                "id": 469,
                "name": "Boxing Punching Bag"
            },
            {
                "otherNames": "Brazilian Jiu Jitsu, BJJ, martial arts",
                "origId": 401458,
                "type": "MetaNode",
                "id": 473,
                "name": "Brazilian Jiu Jitsu"
            },
            {
                "otherNames": "canoeing",
                "origId": 106,
                "type": "MetaNode",
                "id": 477,
                "name": "Canoeing"
            },
            {
                "otherNames": "cardio, cardio exercises",
                "origId": 401472,
                "type": "MetaNode",
                "id": 482,
                "name": "Cardio Exercises"
            },
            {
                "otherNames": "cheerleading",
                "origId": 111,
                "type": "MetaNode",
                "id": 485,
                "name": "Cheerleading"
            },
            {
                "otherNames": "climbing",
                "origId": 116,
                "type": "MetaNode",
                "id": 489,
                "name": "Climbing"
            },
            {
                "otherNames": "Coaching: basketball",
                "origId": 406799,
                "type": "MetaNode",
                "id": 494,
                "name": "Coaching Basketball"
            },
            {
                "otherNames": "Coaching: football",
                "origId": 406792,
                "type": "MetaNode",
                "id": 498,
                "name": "Coaching Football"
            },
            {
                "otherNames": "Coaching: soccer",
                "origId": 406806,
                "type": "MetaNode",
                "id": 502,
                "name": "Coaching Soccer"
            },
            {
                "otherNames": "Crew rowing competition",
                "origId": 406813,
                "type": "MetaNode",
                "id": 506,
                "name": "Crew Rowing Competition"
            },
            {
                "otherNames": "cricket, batting, bowling",
                "origId": 121,
                "type": "MetaNode",
                "id": 510,
                "name": "Cricket"
            },
            {
                "otherNames": "Croquet",
                "origId": 406820,
                "type": "MetaNode",
                "id": 514,
                "name": "Croquet"
            },
            {
                "otherNames": "cross, country, skiing",
                "origId": 250029,
                "type": "MetaNode",
                "id": 518,
                "name": "Cross Country Skiing"
            },
            {
                "otherNames": "Cross country skiing, racing",
                "origId": 406827,
                "type": "MetaNode",
                "id": 523,
                "name": "Cross Country Skiing Racing"
            },
            {
                "otherNames": "Cross Trainer",
                "origId": 406680,
                "type": "MetaNode",
                "id": 528,
                "name": "Cross Trainer"
            },
            {
                "otherNames": "curling",
                "origId": 126,
                "type": "MetaNode",
                "id": 532,
                "name": "Curling"
            },
            {
                "otherNames": "cycling, bicycling, biking",
                "origId": 131,
                "type": "MetaNode",
                "id": 536,
                "name": "Cycling"
            },
            {
                "otherNames": "dancing, dance, going out dancing, Disco",
                "origId": 136,
                "type": "MetaNode",
                "id": 541,
                "name": "Dancing"
            },
            {
                "otherNames": "Darts",
                "origId": 406845,
                "type": "MetaNode",
                "id": 547,
                "name": "Darts"
            },
            {
                "otherNames": "Discus - Track and Field",
                "origId": 407195,
                "type": "MetaNode",
                "id": 551,
                "name": "Discus Track And Field"
            },
            {
                "otherNames": "diving",
                "origId": 141,
                "type": "MetaNode",
                "id": 555,
                "name": "Diving"
            },
            {
                "otherNames": "downhill, skiing",
                "origId": 250026,
                "type": "MetaNode",
                "id": 559,
                "name": "Downhill Skiing"
            },
            {
                "otherNames": "elliptical",
                "origId": 250020,
                "type": "MetaNode",
                "id": 564,
                "name": "Elliptical"
            },
            {
                "otherNames": "exercise - runkeeper - other, runkeeper",
                "origId": 435596,
                "type": "MetaNode",
                "id": 569,
                "name": "Exercise - Runkeeper - Other"
            },
            {
                "otherNames": "fencing",
                "origId": 161,
                "type": "MetaNode",
                "id": 572,
                "name": "Fencing"
            },
            {
                "otherNames": "field, hockey",
                "origId": 166,
                "type": "MetaNode",
                "id": 576,
                "name": "Field Hockey"
            },
            {
                "otherNames": "fishing",
                "origId": 171,
                "type": "MetaNode",
                "id": 580,
                "name": "Fishing"
            },
            {
                "otherNames": "Football , playing catch",
                "origId": 406870,
                "type": "MetaNode",
                "id": 584,
                "name": "Football Playing Catch"
            },
            {
                "otherNames": "Frisbee",
                "origId": 406884,
                "type": "MetaNode",
                "id": 588,
                "name": "Frisbee"
            },
            {
                "otherNames": "Golf - using power cart",
                "origId": 406905,
                "type": "MetaNode",
                "id": 592,
                "name": "Golf Using Power Cart"
            },
            {
                "otherNames": "golf, walking",
                "origId": 196,
                "type": "MetaNode",
                "id": 596,
                "name": "Golf - walking"
            }
        ],
        "pageNext": "/nodes/6?children_page=1",
        "itemsTo": 49,
        "pagePrev": null,
        "itemsFrom": 0
    },
    "measuredByDefault": [ ],
    "otherNames": "",
    "has": [ ],
    "type": "MetaNode",
    "id": 6,
    "is": [
        {
            "otherNames": "Wikilife",
            "origId": 1,
            "type": "MetaNode",
            "id": 1,
            "name": "Life Variable"
        }
    ]

}
</pre>

<div id="res"> Metric by ID</div>
<p>Get the information for a given metricId, it wiil return all nodes using that metric too.</p>

<pre class="http-request notranslate">http://meta.wikilife.org/metrics/{metricID}
</pre>

<p>Example</p>
<p>http://meta.wikilife.org/metrics/394</p>
<pre class="http-request notranslate short brush: js;">
{
    "name": "Calories Burned-Value Node",
    "min": 1,
    "default": 300,
    "max": 10000,
    "origId": 406728,
    "precision": 0,
    "type": "NumericMetricNode",
    "id": 394,
    "unit": "cal"
    "measuring": [
        {
            "otherNames": "1 leg calf raise, Legs",
            "origId": 404045,
            "type": "MetaNode",
            "id": 1063,
            "name": "1 Leg Calf Raise"
        },
        {
            "otherNames": "Ab Rollout, Balance and Core",
            "origId": 404054,
            "type": "MetaNode",
            "id": 1068,
            "name": "Ab Rollout"
        },
        {
            "otherNames": "abdominal lat stretch, Stretches",
            "origId": 404063,
            "type": "MetaNode",
            "id": 1073,
            "name": "Abdominal Lat Stretch"
        },
        {
            "otherNames": "abdominal stretch, Stretches",
            "origId": 404072,
            "type": "MetaNode",
            "id": 1078,
            "name": "Abdominal Stretch"
        },
        {
            "otherNames": "Aerobics",
            "origId": 406722,
            "type": "MetaNode",
            "id": 393,
            "name": "Aerobics"
        },
        {
            "otherNames": "Aerobics, step aerobics",
            "origId": 406729,
            "type": "MetaNode",
            "id": 397,
            "name": "Aerobics Step Aerobics"
        },
        {
            "otherNames": "Agility run, Cardio",
            "origId": 404081,
            "type": "MetaNode",
            "id": 1083,
            "name": "Agility Run"
        },
        {
            "otherNames": "Aikido, martial arts",
            "origId": 401413,
            "type": "MetaNode",
            "id": 401,
            "name": "Aikido"
        },
        {
            "otherNames": "Alternate lying chest p up, Push, chest, triceps",
            "origId": 404090,
            "type": "MetaNode",
            "id": 1088,
            "name": "Alternate Lying Chest P Up"
        },
        {
            "otherNames": "football, american",
            "origId": 181,
            "type": "MetaNode",
            "id": 405,
            "name": "American Football "
        },
        {
            "otherNames": "archery",
            "origId": 51,
            "type": "MetaNode",
            "id": 409,
            "name": "Archery"
        },
        {
            "otherNames": "Arm-Leg Extension - Alternating, Pull, Back, Biceps",
            "origId": 404099,
            "type": "MetaNode",
            "id": 1093,
            "name": "Arm Leg Extension Alternating"
        },
        {
            "otherNames": "Assisted Chin-ups, Pull, Back, Biceps",
            "origId": 404108,
            "type": "MetaNode",
            "id": 1098,
            "name": "Assisted Chin Ups"
        },
        {
            "otherNames": "Assisted Dips, Push, chest, triceps",
            "origId": 404117,
            "type": "MetaNode",
            "id": 1103,
            "name": "Assisted Dips"
        },
        {
            "otherNames": "athletics",
            "origId": 56,
            "type": "MetaNode",
            "id": 412,
            "name": "Athletics"
        },
        {
            "otherNames": "Back extension - Balance and Core, Balance and Core",
            "origId": 404126,
            "type": "MetaNode",
            "id": 1108,
            "name": "Back Extension Balance And Core"
        },
        {
            "otherNames": "Back Extension - Biceps, Pull, Back, Biceps",
            "origId": 404135,
            "type": "MetaNode",
            "id": 1113,
            "name": "Back Extension Biceps"
        },
        {
            "otherNames": "Back Extension Machine, Balance and Core",
            "origId": 404144,
            "type": "MetaNode",
            "id": 1118,
            "name": "Back Extension Machine"
        },
        {
            "otherNames": "Back extension stretch, Stretches",
            "origId": 404153,
            "type": "MetaNode",
            "id": 1123,
            "name": "Back Extension Stretch"
        },
        {
            "otherNames": "Back fly, Pull, Back, Biceps",
            "origId": 404162,
            "type": "MetaNode",
            "id": 1128,
            "name": "Back Fly"
        },
        {
            "otherNames": "badminton",
            "origId": 66,
            "type": "MetaNode",
            "id": 416,
            "name": "Badminton"
        },
        {
            "otherNames": "Ballet dancing",
            "origId": 406736,
            "type": "MetaNode",
            "id": 420,
            "name": "Ballet Dancing"
        },
        {
            "otherNames": "Ballroom dancing",
            "origId": 406764,
            "type": "MetaNode",
            "id": 424,
            "name": "Ballroom Dancing"
        },
        {
            "otherNames": "Bar Tricep Dip, Push, chest, triceps",
            "origId": 404171,
            "type": "MetaNode",
            "id": 1133,
            "name": "Bar Tricep Dip"
        },
        {
            "otherNames": "Barbell Row, Pull, Back, Biceps",
            "origId": 404180,
            "type": "MetaNode",
            "id": 1138,
            "name": "Barbell Row"
        },
        {
            "otherNames": "Base running, Cardio",
            "origId": 404189,
            "type": "MetaNode",
            "id": 1143,
            "name": "Base Running"
        },
        {
            "otherNames": "baseball",
            "origId": 61,
            "type": "MetaNode",
            "id": 428,
            "name": "Baseball"
        },
        {
            "otherNames": "Baseball, playing catch",
            "origId": 406877,
            "type": "MetaNode",
            "id": 432,
            "name": "Baseball Playing Catch"
        },
        {
            "otherNames": "basketball",
            "origId": 71,
            "type": "MetaNode",
            "id": 436,
            "name": "Basketball"
        },
        {
            "otherNames": "Basketball, shooting baskets",
            "origId": 406771,
            "type": "MetaNode",
            "id": 440,
            "name": "Basketball Shooting Baskets"
        },
        {
            "otherNames": "Basketball, wheelchair",
            "origId": 406778,
            "type": "MetaNode",
            "id": 444,
            "name": "Basketball Wheelchair"
        },
        {
            "otherNames": "Beach Volleyball",
            "origId": 407218,
            "type": "MetaNode",
            "id": 448,
            "name": "Beach Volleyball"
        },
        {
            "otherNames": "Bear Hugs, Push, chest, triceps",
            "origId": 404198,
            "type": "MetaNode",
            "id": 1148,
            "name": "Bear Hugs"
        },
        {
            "otherNames": "Beep test, Cardio",
            "origId": 404207,
            "type": "MetaNode",
            "id": 1153,
            "name": "Beep Test"
        },
        {
            "otherNames": "Bench, Push, chest, triceps",
            "origId": 404216,
            "type": "MetaNode",
            "id": 1158,
            "name": "Bench"
        },
        {
            "otherNames": "Bench dip, Push, chest, triceps",
            "origId": 404225,
            "type": "MetaNode",
            "id": 1163,
            "name": "Bench Dip"
        },
        {
            "otherNames": "Bench Press, Push, chest, triceps",
            "origId": 404234,
            "type": "MetaNode",
            "id": 1168,
            "name": "Bench Press"
        },
        {
            "otherNames": "Bent arm pullover, Pull, Back, Biceps",
            "origId": 404243,
            "type": "MetaNode",
            "id": 1173,
            "name": "Bent Arm Pullover"
        },
        {
            "otherNames": "Bent over 1 arm tri extension, Push, chest, triceps",
            "origId": 404252,
            "type": "MetaNode",
            "id": 1178,
            "name": "Bent Over 1 Arm Tri Extension"
        },
        {
            "otherNames": "Bent Over Raise, Pull, Back, Biceps",
            "origId": 404261,
            "type": "MetaNode",
            "id": 1183,
            "name": "Bent Over Raise"
        },
        {
            "otherNames": "Bent Over Row, Pull, Back, Biceps",
            "origId": 404270,
            "type": "MetaNode",
            "id": 1188,
            "name": "Bent Over Row"
        },
        {
            "otherNames": "Bicep Curl, Pull, Back, Biceps",
            "origId": 404279,
            "type": "MetaNode",
            "id": 1193,
            "name": "Bicep Curl"
        },
        {
            "otherNames": "Biceps Curl - on Knees, One-at-a-Time, Pull, Back, Biceps",
            "origId": 404288,
            "type": "MetaNode",
            "id": 1198,
            "name": "Biceps Curl On Knees One At A Time"
        },
        {
            "otherNames": "Biceps Curl - Standing, Pull, Back, Biceps",
            "origId": 404297,
            "type": "MetaNode",
            "id": 1203,
            "name": "Biceps Curl Standing"
        },
        {
            "otherNames": "billiards",
            "origId": 76,
            "type": "MetaNode",
            "id": 452,
            "name": "Billiards"
        },
        {
            "otherNames": "boating",
            "origId": 86,
            "type": "MetaNode",
            "id": 456,
            "name": "Boating"
        },
        {
            "otherNames": "bowling",
            "origId": 96,
            "type": "MetaNode",
            "id": 461,
            "name": "Bowling"
        },
        {
            "otherNames": "Box squat, Legs",
            "origId": 404306,
            "type": "MetaNode",
            "id": 1208,
            "name": "Box Squat"
        },
        {
            "otherNames": "boxing",
            "origId": 101,
            "type": "MetaNode",
            "id": 465,
            "name": "Boxing"
        },
        {
            "otherNames": "Boxing, punching bag",
            "origId": 406785,
            "type": "MetaNode",
            "id": 469,
            "name": "Boxing Punching Bag"
        },
        {
            "otherNames": "Brazilian Jiu Jitsu, BJJ, martial arts",
            "origId": 401458,
            "type": "MetaNode",
            "id": 473,
            "name": "Brazilian Jiu Jitsu"
        },
        {
            "otherNames": "Bridge, Pull, Back, Biceps",
            "origId": 404315,
            "type": "MetaNode",
            "id": 1213,
            "name": "Bridge"
        },
        {
            "otherNames": "Burpies, Combination, Full body",
            "origId": 404324,
            "type": "MetaNode",
            "id": 1218,
            "name": "Burpies"
        },
        {
            "otherNames": "Cable Bicep Curl, Pull, Back, Biceps",
            "origId": 404333,
            "type": "MetaNode",
            "id": 1223,
            "name": "Cable Bicep Curl"
        },
        {
            "otherNames": "Cable Hip Abduction, Legs",
            "origId": 404342,
            "type": "MetaNode",
            "id": 1228,
            "name": "Cable Hip Abduction"
        },
        {
            "otherNames": "Calf gastrocnemius stretch, Stretches",
            "origId": 404351,
            "type": "MetaNode",
            "id": 1233,
            "name": "Calf Gastrocnemius Stretch"
        },
        {
            "otherNames": "Calf Press, Legs",
            "origId": 404360,
            "type": "MetaNode",
            "id": 1238,
            "name": "Calf Press"
        },
        {
            "otherNames": "Calf Press - Bodyweight, Legs",
            "origId": 404369,
            "type": "MetaNode",
            "id": 1243,
            "name": "Calf Press Bodyweight"
        },
        {
            "otherNames": "Calf Raise, Legs",
            "origId": 404378,
            "type": "MetaNode",
            "id": 1248,
            "name": "Calf Raise"
        },
        {
            "otherNames": "Calf Raise - One-Legged, Legs",
            "origId": 404387,
            "type": "MetaNode",
            "id": 1253,
            "name": "Calf Raise One Legged"
        },
        {
            "otherNames": "Calf soleus stretch, Stretches",
            "origId": 404396,
            "type": "MetaNode",
            "id": 1258,
            "name": "Calf Soleus Stretch"
        },
        {
            "otherNames": "canoeing",
            "origId": 106,
            "type": "MetaNode",
            "id": 477,
            "name": "Canoeing"
        },
        {
            "otherNames": "cardio, cardio exercises",
            "origId": 401472,
            "type": "MetaNode",
            "id": 482,
            "name": "Cardio Exercises"
        },
        {
            "otherNames": "Cat stretch, Stretches",
            "origId": 404405,
            "type": "MetaNode",
            "id": 1263,
            "name": "Cat Stretch"
        },
        {
            "otherNames": "cheerleading",
            "origId": 111,
            "type": "MetaNode",
            "id": 485,
            "name": "Cheerleading"
        },
        {
            "otherNames": "Chest and bicep, Stretches",
            "origId": 404414,
            "type": "MetaNode",
            "id": 1268,
            "name": "Chest And Bicep"
        },
        {
            "otherNames": "Chest Fly - One-at-a-Time, Push, chest, triceps",
            "origId": 404423,
            "type": "MetaNode",
            "id": 1273,
            "name": "Chest Fly One At A Time"
        },
        {
            "otherNames": "Chest Flys, Push, chest, triceps",
            "origId": 404432,
            "type": "MetaNode",
            "id": 1278,
            "name": "Chest Flys"
        },
        {
            "otherNames": "Chest Press, Push, chest, triceps",
            "origId": 404441,
            "type": "MetaNode",
            "id": 1283,
            "name": "Chest Press"
        },
        {
            "otherNames": "Chest press - tricep, Push, chest, triceps",
            "origId": 404450,
            "type": "MetaNode",
            "id": 1288,
            "name": "Chest Press Tricep"
        },
        {
            "otherNames": "Chest press - wide, Push, chest, triceps",
            "origId": 404459,
            "type": "MetaNode",
            "id": 1293,
            "name": "Chest Press Wide"
        },
        {
            "otherNames": "Chest stretch, Stretches",
            "origId": 404468,
            "type": "MetaNode",
            "id": 1298,
            "name": "Chest Stretch"
        },
        {
            "otherNames": "Clamshell crunch, Balance and Core",
            "origId": 404477,
            "type": "MetaNode",
            "id": 1303,
            "name": "Clamshell Crunch"
        },
        {
            "otherNames": "Clap push ups, Combination, Push",
            "origId": 404486,
            "type": "MetaNode",
            "id": 1308,
            "name": "Clap Push Ups"
        },
        {
            "otherNames": "climbing",
            "origId": 116,
            "type": "MetaNode",
            "id": 489,
            "name": "Climbing"
        },
        {
            "otherNames": "Close grip, Pull, Back, Biceps",
            "origId": 404495,
            "type": "MetaNode",
            "id": 1313,
            "name": "Close Grip"
        },
        {
            "otherNames": "Coaching: basketball",
            "origId": 406799,
            "type": "MetaNode",
            "id": 494,
            "name": "Coaching Basketball"
        },
        {
            "otherNames": "Coaching: football",
            "origId": 406792,
            "type": "MetaNode",
            "id": 498,
            "name": "Coaching Football"
        },
        {
            "otherNames": "Coaching: soccer",
            "origId": 406806,
            "type": "MetaNode",
            "id": 502,
            "name": "Coaching Soccer"
        },
        {
            "otherNames": "Cobra, Push, chest, triceps",
            "origId": 404504,
            "type": "MetaNode",
            "id": 1318,
            "name": "Cobra"
        },
        {
            "otherNames": "Cobra stretch, Stretches",
            "origId": 404513,
            "type": "MetaNode",
            "id": 1323,
            "name": "Cobra Stretch"
        },
        {
            "otherNames": "Concentration Curl, Pull, Back, Biceps",
            "origId": 404522,
            "type": "MetaNode",
            "id": 1328,
            "name": "Concentration Curl"
        },
        {
            "otherNames": "Crew rowing competition",
            "origId": 406813,
            "type": "MetaNode",
            "id": 506,
            "name": "Crew Rowing Competition"
        },
        {
            "otherNames": "cricket, batting, bowling",
            "origId": 121,
            "type": "MetaNode",
            "id": 510,
            "name": "Cricket"
        },
        {
            "otherNames": "Croquet",
            "origId": 406820,
            "type": "MetaNode",
            "id": 514,
            "name": "Croquet"
        },
        {
            "otherNames": "cross, country, skiing",
            "origId": 250029,
            "type": "MetaNode",
            "id": 518,
            "name": "Cross Country Skiing"
        },
        {
            "otherNames": "Cross country skiing, racing",
            "origId": 406827,
            "type": "MetaNode",
            "id": 523,
            "name": "Cross Country Skiing Racing"
        },
        {
            "otherNames": "Cross Trainer",
            "origId": 406680,
            "type": "MetaNode",
            "id": 528,
            "name": "Cross Trainer"
        },
        {
            "otherNames": "Crouched rear deltoid row, Pull, Back, Biceps",
            "origId": 404531,
            "type": "MetaNode",
            "id": 1333,
            "name": "Crouched Rear Deltoid Row"
        },
        {
            "otherNames": "Crunch, Balance and Core",
            "origId": 404540,
            "type": "MetaNode",
            "id": 1338,
            "name": "Crunch"
        },
        {
            "otherNames": "Crunch - Legs Elevated, Balance and Core",
            "origId": 404549,
            "type": "MetaNode",
            "id": 1343,
            "name": "Crunch Legs Elevated"
        },
        {
            "otherNames": "Crunch Machine, Balance and Core",
            "origId": 404558,
            "type": "MetaNode",
            "id": 1348,
            "name": "Crunch Machine"
        },
        {
            "otherNames": "curling",
            "origId": 126,
            "type": "MetaNode",
            "id": 532,
            "name": "Curling"
        },
        {
            "otherNames": "Curtsy lunge, Legs",
            "origId": 404567,
            "type": "MetaNode",
            "id": 1353,
            "name": "Curtsy Lunge"
        },
        {
            "otherNames": "cycling, bicycling, biking",
            "origId": 131,
            "type": "MetaNode",
            "id": 536,
            "name": "Cycling"
        },
        {
            "otherNames": "dancing, dance, going out dancing, Disco",
            "origId": 136,
            "type": "MetaNode",
            "id": 541,
            "name": "Dancing"
        },
        {
            "otherNames": "Darts",
            "origId": 406845,
            "type": "MetaNode",
            "id": 547,
            "name": "Darts"
        },
        {
            "otherNames": "Dead Lift - Legs, Legs",
            "origId": 404576,
            "type": "MetaNode",
            "id": 1358,
            "name": "Dead Lift Legs"
        },
        {
            "otherNames": "Dead Lifts - Biceps, Pull, Back, Biceps",
            "origId": 404585,
            "type": "MetaNode",
            "id": 1363,
            "name": "Dead Lifts Biceps"
        },
        {
            "otherNames": "Decline Chest Press, Push, chest, triceps",
            "origId": 404594,
            "type": "MetaNode",
            "id": 1368,
            "name": "Decline Chest Press"
        }
    ],


}
</pre>

<h3 >About REST (REpresentational State Transfer)</h3>

<p>We designed the Wikilfie Meta API in a very RESTful way, so that your consumption of it is simple and straightforward. From <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">Wikipedia</a>:</p>

<p>REST's proponents argue that the Web's scalability and growth are a direct result of a few key design principles:</p>

<ul>
<li>Application state and functionality are divided into resources</li>
<li>Every resource is uniquely addressable using a universal syntax for use in hypermedia links</li>
<li>All resources share a uniform interface for the transfer of state between client and resource, consisting of

<ul>
<li class="odd">A constrained set of well-defined operations</li>
<li class="odd">A constrained set of content types, optionally supporting code on demand</li>
</ul></li>
<li>A protocol which is:

<ul>
<li class="odd">Client-server</li>
<li class="odd">Stateless</li>
<li class="odd">Cacheable</li>
<li class="odd">Layered </li>
</ul></li>
</ul>

<p>REST's client/server separation of concerns simplifies component
implementation, reduces the complexity of connector semantics, improves the
effectiveness of performance tuning, and increases the scalability of pure
server components. Layered system constraints allow intermediaries-proxies,
gateways, and firewalls-to be introduced at various points in the communication
without changing the interfaces between components, thus allowing them to
assist in communication translation or improve performance via large-scale,
shared caching.</p>

<p>REST enables intermediate processing by constraining messages to be
self-descriptive: interaction is stateless between requests, standard methods
and media types are used to indicate semantics and exchange information, and
responses explicitly indicate cacheability.</p>

<p>If you're looking for more information about RESTful web services, the
<a href="http://www.amazon.com/RESTful-Web-Services-Leonard-Richardson/dp/0596529260">O'Reilly RESTful Web Services book</a> is excellent.</p>

  </div>
</div>
</div>
</body>
</html>